.logoutBTN {
    position: relative;
    & .logoutBox {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        transform: translateX(50%);
    }
}
