.companyDiv {
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    & p {
        text-align: center;
        line-height: 50px;
    }
}
