.companyDiv {
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img {
        height: 75px;
        border: 1px black solid;
    }
}

.link-deleteBTN {
    display: flex;
    height: 100%;
    justify-content: space-between;
    & button {
        max-height: 25%;
        margin-left: 10px;
    }
}

.deleteCompany::after {
    content: "\e903";
}
