.employeeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
        width: 50px;
        height: 50px;
        border: 1px solid transparent;
        border-radius: 5px;
        background: $backgroundNavy;
        color: $backgroundBlue;
        &::after {
            content: "\f067";
            font-size: 1.5rem;
        }
        &:hover {
            border: 2px solid $backgroundBlue;
        }
    }
}

.employeeGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 10 equal columns */
    grid-auto-rows: auto; /* rows height adjusts to content */
    gap: 10px;
    max-width: 100%;
}

.employeeDiv {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 10px;
    & p {
        margin: 5px 0 5px 0;
    }
    button {
        margin-top: auto;
        padding: 5px;
        border: none;
        color: white;
        background-color: $backgroundGrayBlue;
        width: 100%;
        border: 1px $backgroundNavy solid;
        &:hover {
            background-color: $backgroundBlue;
        }
    }
}

.deleteEmployee {
    background-color: $backgroundGrayBlue;
    &:hover {
        background-color: crimson !important;
    }
}

.employeeBTNs {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    width: 100%;
}

.hiddenContact {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.hiddenContact.show {
    max-height: 200px;
}

@media (max-width: 1360px) {
    .employeeGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .employeeGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .employeeGrid {
        grid-template-columns: 1fr;
    }
}
