.companyInsertForm,
.employeeInsertForm {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    & input,
    button {
        padding: 10px 20px;
        width: 50%;
        margin: 0 auto;
        border: 1px solid transparent;

        &:focus {
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid $backgroundBlue;
        }
    }
    & h1 {
        text-align: center;
    }
}

.companyInsertFormBTNs,
.employeeInsertFormBTNs {
    display: flex;
    width: 50%;
    margin: 10px auto;
    & button {
        border: 1px solid $backgroundGrayBlue;
    }
}

.errorSpanEmployee,
.errorSpanCompany {
    display: none;
}

.errorSpanEmployee.show,
.errorSpanCompany.show {
    display: block;
    text-align: center;
}

.incorrectEntry {
    border: 1px solid red !important;
}
