// Variables

$backgroundNavy: #0d1117;

$backgroundGrayBlue: #21262d;
$textLightGray: #c9d1d9;

$backgroundBlue: #2f81f7;
$textWhite: white;

$niceBlue: #0a0f63;

@mixin contentsizing {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
